.messages {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 34px;
  left: 0;
  right: 0;
  height: calc(100% - 34px);
}
.messages-msg {
  position: absolute;
  border: 2px solid yellowgreen;
  left: 5px;
  right: 5px;
  overflow: scroll;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.messages-msg-1 {
  top: 62px;
  height: calc(100% - (62px + 9px));
}
.messages-msg-2 {
  top: 2px;
  height: calc(100% - (2px + 9px));
}
