nav {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 30px;
  border: 2px solid blue;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
}
.link {
  color: aqua;
  &:hover {
    color: chartreuse;
  }
}
